In [36]:
#Q1.) How do you declare a variable named age and assign the value 25 to it?
age=25
print(age)

25

In [70]:
#Q2.import a CSV file in Jupyter using Pandas?
import pandas as pd
df = pd.read_csv('file.csv')
print(df.head())

In [66]:
#Q3)What Python function can you use to display the last 5 rows of a DataFrame?
import pandas as pd
data = {"Name": ["Ali", "Ayesha", "Noman", "Sara", "Ahmed", "Zara"],
        "Age": [25, 30, 35, 40, 45, 50]}
df = pd.DataFrame(data)
print(df.tail())

     Name  Age
1  Ayesha   30
2   Noman   35
3    Sara   40
4   Ahmed   45
5    Zara   50

In [18]:
#Q4)How do you check the number of rows and columns in a DataFrame?
import pandas as pd
df = pd.DataFrame({"Name": ["Ali","Sara"], 
                   "Age": [25, 30]})
print(df.shape)

(2, 2)

In [24]:
#Q5)What function is used to identify missing (null) values in a DataFrame?
#is nll()
import pandas as pd
df = pd.DataFrame({"A": [1, 2, None, 4],
                   "B": [None, 5, 6, 7]})
missing_values = df.isnull()
print(missing_values)

       A      B
0  False   True
1  False  False
2   True  False
3  False  False

In [54]:
#6)How do you count the total number of null values in a DataFrame?
import pandas as pd
df = pd.DataFrame({"A": [1, 2, None, 4], 
                   "B": [None, 5, 6, 7]})
print(df.isnull().sum())

A    1
B    1
dtype: int64

In [32]:
#6)"OR"
import pandas as pd
df = pd.DataFrame({"A": [1, 2, None, 4], 
                   "B": [None, 5, 6, 7]})
print(df.isnull().sum().sum())

2

In [26]:
#7)What method is used to find duplicate rows in a DataFrame?
import pandas as pd
df = pd.DataFrame({"A": [1, 2, 2, 3],
                   "B": [4, 5, 5, 6]})
#duplicates = df[df.duplicated()]
#print(duplicates)
#"OR"
print(df[df.duplicated()])

   A  B
2  2  5

In [56]:
#8)How do you check if a specific column in a DataFrame contains duplicate values?
import pandas as pd
df = pd.DataFrame({"A": [1, 2, 2, 3]})
print(df["A"].duplicated().any())
#any( checks if there is at least one duplicate)

True

In [58]:
#8(Show vales)
import pandas as pd
df = pd.DataFrame({"A": [1, 2, 2, 3]})
duplicates = df[df["A"].duplicated()]
print(duplicates)

   A
2  2

In [30]:
#9)Write Python code to calculate the mean of a column.
import pandas as pd
df = pd.DataFrame({"A": [10, 20, 30, 40],
                })
print(df["A"].mean())
#"OR"
#print(df.mean())

25.0

In [32]:
#10)How do you drop all duplicate rows in a DataFrame?
import pandas as pd
df = pd.DataFrame({"A": [1, 2, 2, 3], 
                   "B": [4, 5, 5, 6]})
df = df.drop_duplicates()
print(df)

   A  B
0  1  4
1  2  5
3  3  6

In [40]:
''11)What is the key difference between Python's lists and arrays from the NumPy
library?write code for example?'''(a)
Python list stored multiple type of data.
(mixed data types)
Python list storerd multiple type of data.
NumPy arrays are stored only one type of data.

In [7]:
#11(b)Python List Code:
import pandas as pd
py_list = [1, 2, 3, 4]
py_list_result = [x * 2 for x in py_list]
print("Python List Result:", py_list_result)

Python List Result: [2, 4, 6, 8]

In [42]:
#11(OR)
import pandas as pd
py_list=[1,2,3]
py_list_res=[x*2 for x in py_list]
print(py_list_res)

[2, 4, 6]

In [9]:
#11(b)NumPy Array Code:
import pandas as pd
import numpy as np
np_array = np.array([1, 2, 3, 4])
np_array_result = np_array * 2
print("NumPy Array Result:", np_array_result)

NumPy Array Result: [2 4 6 8]